body {
  background-color: rgb(16, 0, 138);
  color: rgb(255, 123, 255);
  padding:10px;
}

.Photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: double;
  border-width: 3px;
  border-color: white;
  padding: 5px;
  background-color: rgb(70, 23, 180);
}

.subject1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: double;
  border-width: 3px;
  border-color: white;
  padding: 5px;
  background-color: rgb(197, 0, 255);
}

.subject2 {
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
  border-style: double;
  border-width: 3px;
  border-color: white;
  padding: 5px;
  background-color: rgb(255, 38, 158);
}
